.label {
  -fx-text-fill: black;
  -fx-font-family: "Comic Sans MS";
}

#pane {
  -fx-padding: 0.5em;
  -fx-hgap: 0.5em;
  -fx-vgap: 0.5em;
}

.buttonrow {
  -fx-spacing: 0.5em;
  -fx-alignment: center;
}

